
<%= render 'shared/bootstrap_container' do%>
  <div class="row">
    <div class="col-1 me-4 me-md-1">
      <% if current_user.photo.key %>
      <%= cl_image_tag current_user.photo.key %>
      <% else %>
      <%= image_tag "blank-profile-picture", class: "avatar-large" %>
      <% end %>
    </div>
    <div class="col-10">
      <div class="card-profile">
        <div class="card-profile-infos">
          <h3><%= current_user.name %></h3>
          <p><%= current_user.email %></p>
          <p>
            available: <%= current_user.available %>
            <%= simple_form_for(current_user, url: profiles_path) do |f| %>
              <%= f.input :available, as: :hidden, input_html: {value: !current_user.available} %>
              <%= f.submit 'Alterar Disponibilidade', class:'btn btn-primary mt-2' %>
            <% end %>
          </p>
          <%= link_to edit_profiles_path do %>
          <i class="far fa-edit fs-4"></i>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <h3 class='text-center pt-4 my-2'>Seu cardápio</h3>
  <%= link_to 'Cadastrar Novo Produto', new_product_path %>
  <% current_user.products.each do |product| %>
    <div class="card my-3 align-items-stretch">
      <div class="card-header row align-items-center">
        <div class="col-10 align-self-center fs-4">
          <%= product.name %>
        </div>
        <div class="col-2 text-end">
          <%= link_to edit_product_path(product) do %>
          <i class="far fa-edit fs-4"></i>
          <% end %>
          <%= link_to product_path(product), method: :delete do %>
            <i class="fa-solid fa-trash text-danger fs-4"></i>
          <% end %>
        </div>
      </div>
      <div class="m-3">
        <h5 class="card-title">
          Valor: R$<%= product.price %>
        </h5>
        <h5 class="card-title">
          Tempo de produção: <%= pluralize('dia' , product.estimated_delivery) %>
        </h5>
        <p class='card-text'><%= product.description %></p>
      </div>
    </div>
  <% end %>
<% end %>
