
<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class="container mt-5">
  <div class="row justify-content-center rounded rounded-3 align-self-center">
    <div class="col-lg-8 bg-light px-5 py-4 border border-grey">
        <h2 class="my-3">Log in</h2>
        <div class="form-inputs">
          <%= f.input :email,
                      required: false,
                      autofocus: true,
                      input_html: { autocomplete: "email" } %>
          <%= f.input :password,
                      required: false,
                      input_html: { autocomplete: "current-password" } %>
          <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        </div>

        <div class="form-actions">
          <div class="row mt-3 align-items-center">
            <div class="col-4">
              <%= f.button :submit, "Log in", class: 'btn btn-primary' %>
            </div>
            <div class="col-8 text-end">
              <%= render "devise/shared/links" %>
            </div>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>
