<%= render 'shared/bootstrap_container' do%>
    <div class="col-12">
      <% if params[:query] %>
        <p>Você buscou por<strong> "<%= params[:query] %>" </strong>. Encontramos <%= @products.count %> produtos no nosso site.</p>
      <% else %>
        <p>Todos nossos <%= Product.count %> produtos.</p>
      <% end %>
    </div>


  <% @products.each do |product| %>
    <div class="col-md-6 col-xl-4 my-3">
      <div class="card">
        <h5 class="card-header"><%=product.name%></h5>
        <% if product.photo.key %>
          <%= cl_image_tag product.photo.key, class: 'card-img-top card-image', crop: "fill" %>
        <% else %>
          <%= image_tag "blank" %>
        <% end %>
        <div class="card-body">
          <p class="card-text card-description"><%=product.description%></p>
          <div class="row justify-content-between align-items-center">
            <div class="col-5 align-self-center">
              <span class="align-self-center fs-5">R$<%= '%.2f' % product.price%></span>
            </div>
            <div class="col-7 text-end align-items-center">
              <span class="<%='text-primary' if product.estimated_delivery == 0 %>">
                <%if product.estimated_delivery == 0%>
                  Pronta entrega
                <% elsif product.estimated_delivery == 1%>
                  Entrega amanhã
                <% else %>
                  Entrega em <%= product.estimated_delivery %> dias
                <% end %>
              </span>
            </div>
            <div class="col-12 text-end align-items-center">
              Distância: <%= current_user.distance_to(product.user).round(0)%> km
            </div>
            <div class="col-12 mt-2 text-center">
              <%= link_to product_path(product) do %>
                <button class="btn btn-primary w-100 fs-5" >Mais detalhes</button>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
