<h2><%= @product.name %></h2>
<p><%= @product.price %></p>
<p><%= @product.description %></p>

<div>
<%= link_to "Order now", new_product_order_path(@product) %>
</div>

<%= link_to 'Voltar', products_path %>
<%= link_to 'Editar', edit_products_path %>
<%= link_to 'Deletar', destroy_product_path %>
